
*{
  margin: 0;
  padding: 0;
  width: 98%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(5, 5, 206);
  width: 98%;
  height: 100vh;
  font-family: Tahoma;
}
a {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

 nav ul{
  list-style:none;
  text-align:center;
}
nav li {
  display: block;
}

li {
  margin-top: 10px;
}
nav {
  background-color: azure;
  margin: auto;
  margin-left: 55px;
}
img {
  background-color: rgb(130, 211, 238);
  width: auto;
  height:auto;
}

.ceo {
  font-size: 12px; 
}
h2 a {
  color: rgb(130, 211, 238);
}
.form {
  text-align:center;
  margin-top: 20px;
  margin-left: 30px;
}
.form a {
  color:   rgb(130, 211, 238);
}

.sec {
  text-align: center;
  margin-left: 50px;
}

section .break {
  background-color:  rgb(130, 211, 238);
  color:  rgb(130, 211, 238);
}

footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

.skill {
  background-color: rgb(130, 211, 238);
  margin-top: 40px;
  margin-bottom: 20px;
 
}
.skill p {
  margin-top: 15px;
}
